@charset "UTF-8";
@font-face {
  src: url("../fonts/Quicksand/Quicksand.ttf");
  font-family: "Quicksand";
  font-weight: 300; }
@font-face {
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
  font-family: "Quicksand";
  font-weight: 900; }
@font-face {
  src: url("../fonts/Quicksand/Quicksand-Light.ttf");
  font-family: "Quicksand";
  font-weight: 200; }
@font-face {
  src: url("../fonts/Quicksand/Quicksand-Medium.ttf");
  font-family: "Quicksand";
  font-weight: 400; }
* {
  box-sizing: border-box;
  font-family: Quicksand; }

.play_now {
  color: #5C67DE; }

.playing {
  color: #5C67DE; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 99%; }

body {
  background: #0A0A0A;
  color: white; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  min-height: 100%;
  max-height: 100vh; }

.player {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  width: 100%;
  padding: 30px 30px 0 30px; }

aside {
  min-width: 300px;
  margin-right: 10px;
  height: 100%;
  color: white; }
  aside .links {
    background: #1A1A1A;
    height: 170px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px; }
    aside .links ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: normal;
      padding-left: 10px;
      list-style: none; }
      aside .links ul li {
        height: 50px; }
        aside .links ul li span {
          margin-right: 20px; }
  aside .playlists {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
    height: calc(100vh - 110px - 170px - 70px);
    background-color: #1A1A1A;
    list-style: none;
    border-radius: 15px;
    padding: 10px; }
    aside .playlists li {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: center;
      height: 60px;
      padding: 6px 0 6px 0; }
      aside .playlists li div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
        padding-left: 6px; }
        aside .playlists li div:nth-child(2) p {
          padding: 0;
          margin: 0; }
        aside .playlists li div:nth-child(2) p:first-child {
          font-size: 16px; }
        aside .playlists li div:nth-child(2) p:last-child {
          font-size: 14px; }
      aside .playlists li div:nth-child(3) {
        margin: 0 8px 0 auto; }
    aside .playlists .head-list {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: baseline;
      padding: 10px 20px 0 20px; }
      aside .playlists .head-list .left-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: normal;
        margin-left: auto; }
  aside .playlists::-webkit-scrollbar {
    display: none; }

.cnt {
  width: 100%;
  height: 100px; }
  .cnt header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    margin-bottom: 20px; }
    .cnt header label {
      background-color: #1A1A1A;
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: normal;
      height: 50px;
      border-radius: 15px;
      margin: 0 20px 0 20px;
      padding: 8px;
      width: 100%; }
      .cnt header label img {
        margin-right: 10px; }
      .cnt header label input {
        background-color: #1A1A1A;
        border-radius: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
        padding-left: 20px; }
    .cnt header .notification {
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #1A1A1A;
      border-radius: 15px; }
    .cnt header .profile {
      width: 50px;
      height: 50px;
      border-radius: 15px;
      background: #1A1A1A;
      overflow: hidden; }
      .cnt header .profile img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .cnt header div {
      margin-right: 10px; }

main {
  width: 100%;
  padding-left: 20px; }
  main .podcast-img {
    height: 280px;
    border-radius: 15px;
    overflow: hidden; }
    main .podcast-img img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  main .control-row {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    width: 800px; }
    main .control-row div {
      margin: 10px; }
    main .control-row .filter {
      margin-left: auto;
      cursor: pointer;
      height: 100px;
      position: relative;
      z-index: 6; }
      main .control-row .filter:hover img {
        transform: rotate(180deg);
        transition: .5s; }
      main .control-row .filter:hover .filter-list {
        display: block;
        transition: 1s;
        position: relative;
        top: 0;
        opacity: 1; }
      main .control-row .filter p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
        justify-self: flex-end;
        padding: 14px 2px 14px 14px;
        background-color: #1A1A1A;
        border-radius: 15px;
        width: 120px; }
        main .control-row .filter p img {
          transition: .5s; }
        main .control-row .filter p span {
          margin-left: auto;
          margin-right: 4px;
          cursor: pointer; }
      main .control-row .filter ul {
        position: absolute;
        z-index: -1;
        opacity: 0;
        list-style-type: none;
        top: -22px;
        width: 120px;
        transition: .7s;
        background: #1A1A1A;
        border-radius: 15px;
        padding: 14px;
        line-height: 24px; }
        main .control-row .filter ul li {
          cursor: pointer; }
  main .track-area {
    overflow: scroll;
    height: calc(100vh - 110px - 30px); }
  main .track-stat {
    display: grid;
    grid-template-columns: 10px 230px 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 1200px;
    margin-bottom: 20px; }
  main .current-track-main {
    display: grid;
    grid-template-columns: 10px 230px 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 1200px;
    cursor: pointer; }
    main .current-track-main .track-number {
      color: rgba(255, 255, 255, 0.3); }
    main .current-track-main .track-main {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: normal;
      width: 100%;
      margin-left: 20px; }
      main .current-track-main .track-main .main-cover {
        width: 45px;
        height: 45px;
        margin-right: 16px;
        border-radius: 15px; }
        main .current-track-main .track-main .main-cover img {
          object-fit: cover;
          width: 100%;
          height: 100%; }
      main .current-track-main .track-main .track-name-main {
        color: white; }
      main .current-track-main .track-main .artist-main {
        color: rgba(255, 255, 255, 0.3); }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  margin-top: auto;
  height: 110px;
  background: #1A1A1A; }
  footer .track {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    width: 500px; }
  footer .current-cover {
    height: 100%;
    width: 110px; }
    footer .current-cover img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  footer .current-track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin-left: 20px;
    width: 110px;
    height: 100%; }
    footer .current-track p:first-child {
      margin: 0;
      font-size: 16px;
      color: white; }
    footer .current-track p:last-child {
      margin: 0;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3); }
  footer .track-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 314px;
    margin-right: 20px; }
  footer .track-control > div {
    margin-right: 10px;
    cursor: pointer; }
  footer .duration {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center; }
    footer .duration .gone-time {
      color: white;
      font-size: 16px;
      margin-right: 10px;
      width: 70px; }
    footer .duration .duration-track {
      width: 510px;
      height: 8px;
      position: relative;
      background: grey;
      cursor: pointer; }
      footer .duration .duration-track .gone-track {
        position: absolute;
        height: 8px;
        width: 50%;
        background: white; }
      footer .duration .duration-track .left-track {
        position: absolute;
        right: 0;
        z-index: 1; }
    footer .duration .left-time {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
      margin: 0 20px 0 20px; }
  footer .volume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    flex-basis: 135px; }
    footer .volume .mute {
      cursor: pointer;
      width: 50px; }
    footer .volume .volume-wrapper {
      width: 100px;
      height: 8px;
      position: relative;
      margin-left: 10px;
      cursor: pointer; }
      footer .volume .volume-wrapper .volume-track {
        position: absolute;
        height: 8px;
        background: white;
        z-index: 4; }
      footer .volume .volume-wrapper .left-volume {
        width: 100%;
        height: 8px;
        position: absolute;
        right: 0;
        background: grey;
        z-index: 1; }

/*# sourceMappingURL=style.css.map */
