@import "fonts";

* {
  box-sizing: border-box;
  font-family: Quicksand;
}

$front-background: #1A1A1A;
$back-background: #0A0A0A;
$playing-playlist-color: #5C67DE;
$current-track-footer-color: white;
$current-artist-footer-color: rgba(255, 255, 255, 0.3);
$grey-text-color: rgba(255, 255, 255, 0.3);
.playing{
  color: $playing-playlist-color;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($direction,$justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 99%;
}

body {
  background: $back-background;
  color: white;

}
.wrapper{
  @include flex(column, normal, normal);
  min-height: 100%;
  max-height: 100vh;
}
.player {
  @include flex(row, normal, normal);
  width: 100%;
  padding: 30px 30px 0 30px;
}

aside {

  min-width: 300px;
  margin-right: 10px;
  height: 100%;

  .links {
    background: $front-background;
    height: 170px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;

    ul {
      @include flex(column, center, normal);
      padding-left: 10px;
      list-style: none;

      li {
        height: 50px;

        span {
          margin-right:20px;
        }
      }
    }
  }

  color: white;

  .playlists {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
    height: calc(100vh - 110px - 170px - 70px);
    background-color: $front-background;
    list-style: none;
    border-radius: 15px;
    padding: 10px;
    li{
      @include flex(row, normal, center);
      height: 60px;
      padding: 6px 0 6px 0;
      div:nth-child(2){
        @include flex(column, normal, flex-start);
        padding-left:6px;
        p{
          padding: 0;
          margin: 0;
        }
        p:first-child{
          font-size: 16px;
        }p:last-child{
          font-size: 14px;
        }
      }
      div:nth-child(3){
margin: 0 8px 0 auto;
      }
    }
    .head-list{
      @include flex(row, normal, baseline);
    padding: 10px 20px 0 20px;
      .left-navigation{
        @include flex(row, space-between, normal);
        margin-left: auto;
      }
    }

  }
  .playlists::-webkit-scrollbar {
    display: none;
  }

}

.cnt {
  width: 100%;
  height: 100px;
  header {
    width: 100%;
    @include flex(row, normal, normal);
    margin-bottom: 20px;

    label {
      background-color: $front-background;
      @include flex(row, normal, normal);
      height: 50px;
      border-radius: 15px;
      margin: 0 20px 0 20px;
      padding: 8px;
      width: 100%;

      img {
        margin-right: 10px;
      }

      input {
        background-color: $front-background;
        border-radius: 15px;
        border: 0;
        font-size: 16px;
        width: 100%;
        padding-left:20px;
      }
    }

    .notification {
      @include size(50px, 50px);
      @include flex(row, center, center);
      background: $front-background;
      border-radius: 15px;
    }

    .profile {
      @include size(50px, 50px);
      border-radius: 15px;
      background: $front-background;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    div {
      margin-right: 10px;
    }
  }
}



main{
  width: 100%;
  .podcast-img{
    height: 280px;
    border-radius: 15px;
    overflow: hidden;
    img{
      object-fit:cover;
      height: 100%;
      width: 100%;
    }
  }
}
//Footer
footer{
  @include flex(row,space-between, normal);
  margin-top: auto;
  height: 110px;
  background: $front-background;
  .track{
    @include flex(row,normal, normal);
    width: 500px;
  }
  .current-cover {
    height: 100%;
    width: 110px;
    img {
      @include size(100%, 100%);
      object-fit: cover;
    }
  }
    .current-track {
      @include flex(column, center, normal);
      margin-left: 20px;

      @include size(110px, 100%);

       p:first-child {
        margin: 0;
        font-size: 16px;
        color: $current-track-footer-color;
      }

      p:last-child {
        margin: 0;
        font-size: 16px;
        color: $current-artist-footer-color;
      }
    }

  .track-control{
    @include flex(row, space-between, center);
    flex-basis: 314px;
    margin-right: 20px;
  }
  .track-control > div{
    margin-right: 10px;
  }
  .duration{
    @include flex(row, normal, center);
    .gone-time{
      color: $current-track-footer-color;
      font-size: 16px;
      margin-right: 10px;
      width: 70px;
    }
    .duration-track{
      @include size(510px, 5px);
      position: relative;
      background: white;
      .left-track{
        @include size(5px, 60%);
        position: absolute;
        right: 0;
        background: grey;
        z-index: 1;
    }
    }
    .left-time{
      font-size: 16px;
      color: $grey-text-color;
      margin: 0 20px 0 20px;
    }
  }
  .volume{
    @include flex(row, space-between, center);
    margin-right: 50px;
    flex-basis: 135px;
    .mute{
      cursor: pointer;
      width: 50px;
    }
    .volume-wrapper{
      @include size(100px, 5px);
      position: relative;
      margin-left: 10px;
      cursor: pointer;
      .volume-track{
        height: 5px;
        position: absolute;
        background: white;
        z-index: 4;
      }
      .left-volume{
        @include size(100%,5px);
        position: absolute;
        right: 0;
        background: grey;
        z-index: 1;
      }
    }
  }
}
