@import "fonts";
* {
  box-sizing: border-box;
  font-family: Quicksand;
}
$front-background: #1A1A1A;
$back-background: #0A0A0A;
$playing-playlist-color: #5C67DE;
$current-track-footer-color: white;
$current-artist-footer-color: rgba(255, 255, 255, 0.3);
$grey-text-color: rgba(255, 255, 255, 0.3);
$track-border: rgba(255, 255, 255, 0.3);
$line-height: 8px;
$textColor: #0962E8;
.play_now {
  //color: $playing-playlist-color;
}

.playing {
  color: $playing-playlist-color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($direction,$justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  //overflow: hidden;
}

body {
  background: $back-background;
  color: white;

}

.wrapper {
  @include flex(column, normal, normal);
  min-height: 100%;
  max-height: 100svh;
}

.player {
  @include flex(row, normal, normal);
  width: 100%;
  padding: 10px 10px 0 10px;
}

aside {

  min-width: 300px;
  margin-right: 10px;
  height: 100%;

  .links {
    background: $front-background;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;

    ul {
      @include flex(column, center, normal);
      padding-left: 10px;
      list-style: none;

      li {
        height: 50px;

        span {
          margin-right: 20px;
        }
      }
    }
  }

  color: white;

  .head-list {
    @include flex(row, space-between, baseline);
    padding: 10px 20px 0 20px;
div+span{
  margin-right: 70px;
}
    .left-navigation {
      @include flex(row, space-between, normal);
    }
  }
.wrapper-aside{
  background-color: $front-background;
  border-radius: 15px;
}
  .playlists {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
    height: calc(100vh - 110px - 102px - 100px);
    background-color: $front-background;
    list-style: none;
    border-radius: 15px;
    padding: 10px;

    li {
      @include flex(row, normal, center);
      height: 60px;
      padding: 6px 0 6px 0;

      div:nth-child(2) {
        @include flex(column, normal, flex-start);
        padding-left: 6px;

        p {
          padding: 0;
          margin: 0;
        }

        p:first-child {
          font-size: 16px;
        }

        p:last-child {
          font-size: 14px;
        }
      }

      div:nth-child(3) {
        margin: 0 8px 0 auto;
      }
    }



  }

  .playlists::-webkit-scrollbar {
    display: none;
  }

}

.cnt {
  width: 100%;
  height: 100px;

  header {
    width: 100%;
    @include flex(row, normal, normal);
    margin-bottom: 20px;

    label {
      visibility: hidden;
      background-color: $front-background;
      @include flex(row, normal, normal);
      height: 50px;
      border-radius: 15px;
      margin: 0 20px 0 20px;
      padding: 8px;
      width: 100%;

      img {
        margin-right: 10px;
      }

      input {
        background-color: $front-background;
        border-radius: 15px;
        border: 0;
        color: white;
        font-size: 16px;
        width: 100%;
        padding-left: 20px;
      }
    }

    .notification {
      visibility: hidden;
      @include size(50px, 50px);
      @include flex(row, center, center);
      background: $front-background;
      border-radius: 15px;
    }

    .profile-offline, .profile-online {
      @include size(50px, 50px);
      border-radius: 15px;
      background: $front-background;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: 11;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    div {
      margin-right: 10px;
    }
  }
}

main {
  width: 100%;
  padding-left: 20px;

  .podcast-img {
    height: 220px;
    border-radius: 15px;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .control-row {
    visibility: hidden;
    @include flex(row, normal, normal);
    @include  size(100%,80px);

    div {
      margin: 10px;
    }

    .filter {
      margin-left: auto;
      cursor: pointer;
      height: 100px;
      position: relative;
      z-index: 6;

      &:hover {
        img {
          transform: rotate(180deg);
          transition: .5s;

        }

        .filter-list {
          display: block;
          transition: 1s;
          position: relative;
          top: 0;
          opacity: 1;
        }
      }

      p {
        @include flex(row, center, normal);
        padding: 10px 2px 10px 10px;
        background-color: $front-background;
        border-radius: 15px;
        width: 120px;

        img {
          transition: .5s;
        }

        span {
          margin-left: auto;
          margin-right: 4px;
          cursor: pointer;
        }
      }

      ul {
        position: absolute;
        z-index: -1;
        opacity: 0;
        list-style-type: none;
        top: -22px;
        width: 120px;
        transition: .7s;
        background: $front-background;
        border-radius: 15px;
        padding: 14px;
        line-height: 24px;

        li {
          cursor: pointer;
        }
      }
    }
  }

  .track-area {
    overflow: scroll;
    scrollbar-width: none; // for firefox
    height: calc(100vh - 524px);

  }

  .track-area::-webkit-scrollbar {
    display: none;
  }

  .track-stat {
    background-color: $back-background;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 10px 350px 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    @include size(100%, 4px);

  }

  .current-track-main {
    display: grid;
    grid-template-columns: 10px 350px 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    height: 60px;
    border-top: 1px solid $track-border;
    border-bottom: 1px solid $track-border;
    width: 100%;
    cursor: pointer;

    .track-number {
      color: $grey-text-color;
    }

    .track-main {
      @include flex(row, normal, normal);
      width: 100%;
      margin-left: 20px;

      .main-cover {
        @include size(45px, 45px);
        margin-right: 16px;
        border-radius: 15px;

        img {
          object-fit: cover;
          @include size(100%, 100%);

        }
      }

      .track-name-main {
        color: $current-track-footer-color;
      }

      .artist-main {
        color: $current-artist-footer-color;
      }
      .current-track-cover{
        width: 100%;
      }
    }
  }
}


//Footer
footer {
  @include flex(row, space-between, normal);
  margin-top: auto;
  height: 110px;
  background: $front-background;

  .track {
    @include flex(row, normal, normal);
    width: 500px;
  }

  .current-cover {
    height: 100%;
    width: 110px;

    img {
      @include size(100%, 100%);
      object-fit: cover;
    }
  }

  .current-track {
    @include flex(column, center, normal);
    margin-left: 20px;
    @include size(200px, 100%);

    p:first-child {
      margin: 0;
      font-size: 16px;
      color: $current-track-footer-color;
    }

    p:last-child {
      margin: 0;
      font-size: 16px;
      color: $current-artist-footer-color;
    }
  }

  .track-control {
    @include flex(row, space-between, center);
    flex-basis: 314px;
    margin-right: 20px;
  }

  .track-control > div {
    margin-right: 10px;
    cursor: pointer;
  }

  .duration {
    @include flex(row, normal, center);

    .gone-time {
      color: $current-track-footer-color;
      font-size: 16px;
      margin: 0 10px 0 20px;
      width: 70px;
    }

    .duration-track {
      @include size(510px, $line-height);
      position: relative;
      background: grey;
      cursor: pointer;

      .gone-track {
        position: absolute;
        height: $line-height;
        width: 50%;
        background: white;
      }

      .left-track {
        position: absolute;
        right: 0;
        z-index: 1;
      }
    }

    .left-time {
      font-size: 16px;
      color: $grey-text-color;
      margin: 0 20px 0 20px;
    }
  }

  .volume {
    @include flex(row, space-between, center);
    margin-right: 50px;
    flex-basis: 135px;

    .mute {
      cursor: pointer;
      width: 50px;
    }

    .volume-wrapper {
      @include size(100px, $line-height);
      position: relative;
      margin-left: 10px;
      cursor: pointer;

      .volume-track {
        position: absolute;
        height: $line-height;
        background: white;
        z-index: 4;
      }

      .left-volume {
        @include size(100%, $line-height);
        position: absolute;
        right: 0;
        background: grey;
        z-index: 1;
      }
    }
  }
}
//mute icon
.mute{
  display: block!important;
}

// FORM
// Registration form
.registration_wrapper {
  display: none;
  //display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  @include size(100vw, 100vh);
  z-index: 9999999999;
  opacity: 88%;
  background: -webkit-linear-gradient(44deg, #201e1e,#121111,#201d1f,#1a1919);
  background: linear-gradient(44deg, #201e1e,#121111,#201d1f,#1a1919);


  form{
    @include size(450px, 350px);
    @include flex(column, center,center);
    position: relative;
    top: 50%;
    left: 50%;
    background: linear-gradient(90deg, rgba(74,74,78,0.9178046218487395) 0%, rgba(56,56,61,0.8057598039215687) 46%, rgba(37,38,42,0.7833508403361344) 64%);
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px 2px black;
    p:first-child{
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 24px;
    }
    label{
      position: relative;
      .file-input{
        position: absolute;
        width: 0;
        opacity: 0;
      }
      span{
        position: relative;
        cursor: pointer;
        background: $textColor + #211111;
        color: white;
        padding: 10px;
      }
    }

    .form_buttons {
      @include flex(row, space-evenly, center);
      margin-top: 20px;
      button:first-child{
        margin-right: 30px;
        font-size: 1.2em;
      }
      button {
        @include flex(column, center, center);
        padding: 10px;
        height: 30px;
        background-color: $textColor;
        border-radius: 12px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        &:first-child{}
        margin-right: 20px;
      }
    }
    .insert_field{

      .top > input, .bottom > input{
        @include size(210px, 30px);
        margin-bottom: 25px;
      }
    }
  }

}
.display{
  display: block;
}

.bottomWrapper{
  label{
    height: 30px;
  }
  display: flex;
  width: 100%;
  div{
    margin-left: auto;
    border: 2px solid orangered;

  }
}

.alert{
  display: none;
  padding: 4px;
  font-size: 14px;
}

//auth
.auth_wrapper{
  display: none;
  //display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 88%;
  @include size(100vw,100vh);
  z-index: 9999999999;
  //-webkit-backdrop-filter: blur(10px);
  //backdrop-filter: blur(10px);
  background: -webkit-linear-gradient(44deg, #201e1e,#121111,#201d1f,#1a1919);
  background: linear-gradient(44deg, #201e1e,#121111,#201d1f,#1a1919);

  form{
    @include flex(column, center,center);
    position: relative;
    max-width: 450px;
    top: 50%;
    left: 50%;
    background: linear-gradient(90deg, rgba(74,74,78,0.9178046218487395) 0%, rgba(56,56,61,0.8057598039215687) 46%, rgba(37,38,42,0.7833508403361344) 64%);
    height: 350px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px 2px black;
    .insert_field{
      .top > input, .bottom > input{
        @include size(210px, 30px);
        margin-bottom: 25px;
      }
    }

    p:first-child{
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 24px;
    }
    label{
      positiosn: relative;
      .file-input{
        position: absolute;
        width: 0;
        opacity: 0;
      }
      span{
        position: relative;
        cursor: pointer;
        background: $textColor + #211111;
        color: white;
        padding: 10px;
      }
    }

    .form_buttons {
      @include flex(row, space-evenly, center);
      margin-top: 20px;
      button:first-child{
        margin-right: 30px;
        font-size: 1.2em;
      }
      button {
        @include flex(column, center, center);
        padding: 10px;
        height: 30px;
        background-color: $textColor;
        border-radius: 12px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        &:first-child{}
        margin-right: 20px;
      }
    }
  }
}
.exist, .success{
  margin-bottom: 5px;
  padding:4px;
}

.success_registration{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 300px;
  font-size: 20px;
}



// ADAPIVE
@media screen and (max-width: 500px){
 .aside-left,
  .podcast-img,
  .share,
  .download,
  .listening-main,
  .is_play,
  .track-duration,
  .listening,
  footer .track-control > div:not(.main-pause),
  footer .duration,
  footer .volume{
    display: none;
  }
  .duration-main{
    padding: 0 10px 0 0;
  }
  main{
    .track-stat{
      grid-template-columns: 12px 1fr 1fr 40px;
    }
    .current-track-main{
      grid-template-columns: 12px 1fr auto 40px;
    }
    .track-area{
      height: calc(100vh - 294px);
    }
  }
  footer{
    .track{
      cursor: pointer;
      transition: .3s;
    }
    .track-control{
      margin: 0;
      flex-basis: auto;
    }
    .main-pause{
      width: 40px;
      height: 40px;
    img{
      width: 100%;
    }
    }
  }
.back-to-wrapper {
  @include  flex(row, normal, bormal);
  margin-top: 20px;
  width: 100%;
  color: rgba(92, 103, 222, 0.78);
  .back-to-list{
    margin: 20px 20px 0 auto;
    width: 50px;
    height: 50px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;

    }
  }
}

  .detail-track-view{
  height: 100vh;
  width: 100vw;
  position: absolute;
  flex-direction: column;
  transition: .3s;
  bottom: 0;
  z-index: 6;
  justify-content: normal;
  }
}
//success reg
.success {
  @include flex(row, center, center);
  width: 100svw;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  .success-position {
position: relative;
  }
 .success-message {
   color: #d0d0d0;
   padding: 40px 60px 40px 40px;
   font-size: 50px;
   border-radius: 50px;
   box-shadow: 1px 1px 10px 2px white;
 }
  .success-close-btn {
    @include size(40px, 40px);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    img {
      @include size(100%, 100%);
      object-fit: cover;
    }
  }
}

//Profile
.profile-menu {
  height: 100vh;
  //width: 30vw;
  width: 0;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 10;
  transition: .5s;
  background: #1A1A1A;
  padding: 0 0 0 20px;
  box-shadow: 2px 2px 13px 2px #ffffff;
}
.profile-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 120px auto;
  @include size(500px, auto);
  h1 {
    grid-column: span 2;
    justify-self: center;
  }
  div{
    font-size: 22px;
  }
  .track-amount{
    grid-row: 3/4;
    grid-column: 1/2;
  }

}
.playlist-amount {
  white-space: nowrap;
}
.edit-profile, .save-profile {
  @include flex(row, center, center);
  background: white;
  color: black;
  grid-column: span 2;
  padding:  20px;
  border-radius: 14px;
  font-size: 20px;
  cursor: pointer;
  justify-self: center;
  height: 80px;


}
.save-profile{
  display: none;
}
.profile-data--add-track-wrapper {
  position: relative;
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/3;
  input {
    @include size(50px, 50px);
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
  }
  @include size(50px, 50px);
  img {
    @include size(100%, 100%);
  }
}
.exit-session{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #a4a0a0;
  padding: 10px;
  color: black;
  width: 100px;
}
// ToolTip
.confirm_wrapper{
  display: none;
  position: relative;
  z-index: 6;
}
.confirm_delete_message{
  position: absolute;
  @include flex(column, center,center);
  border: 1px solid white;
  width: 140px;
  padding: 10px 0;
  background: #1A1A1A;
  font-size: 18px;
p, a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}

  &::after{
    content: '';
    position: absolute;
    bottom: -15px;
    border-top: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }
  &::before{
    content: '';
    position: absolute;
    bottom: -14px;
    border-top: 14px solid #1A1A1A;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    z-index: 100;
  }
}