@charset "UTF-8";
@font-face {
  src: url("../fonts/Quicksand/Quicksand.ttf");
  font-family: "Quicksand";
  font-weight: 300; }
@font-face {
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
  font-family: "Quicksand";
  font-weight: 900; }
@font-face {
  src: url("../fonts/Quicksand/Quicksand-Light.ttf");
  font-family: "Quicksand";
  font-weight: 200; }
@font-face {
  src: url("../fonts/Quicksand/Quicksand-Medium.ttf");
  font-family: "Quicksand";
  font-weight: 400; }
* {
  box-sizing: border-box;
  font-family: Quicksand; }

.playing {
  color: #5C67DE; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background: #0A0A0A;
  color: white; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  min-height: 100%;
  max-height: 100svh; }

.player {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  width: 100%;
  padding: 10px 10px 0 10px; }

aside {
  min-width: 300px;
  margin-right: 10px;
  height: 100%;
  color: white; }
  aside .links {
    background: #1A1A1A;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px; }
    aside .links ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: normal;
      padding-left: 10px;
      list-style: none; }
      aside .links ul li {
        height: 50px; }
        aside .links ul li span {
          margin-right: 20px; }
  aside .head-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 20px 0 20px; }
    aside .head-list div + span {
      margin-right: 70px; }
    aside .head-list .left-navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: normal; }
  aside .wrapper-aside {
    background-color: #1A1A1A;
    border-radius: 15px; }
  aside .playlists {
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
    height: calc(100vh - 110px - 102px - 100px);
    background-color: #1A1A1A;
    list-style: none;
    border-radius: 15px;
    padding: 10px; }
    aside .playlists li {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: center;
      height: 60px;
      padding: 6px 0 6px 0; }
      aside .playlists li div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
        padding-left: 6px; }
        aside .playlists li div:nth-child(2) p {
          padding: 0;
          margin: 0; }
        aside .playlists li div:nth-child(2) p:first-child {
          font-size: 16px; }
        aside .playlists li div:nth-child(2) p:last-child {
          font-size: 14px; }
      aside .playlists li div:nth-child(3) {
        margin: 0 8px 0 auto; }
  aside .playlists::-webkit-scrollbar {
    display: none; }

.cnt {
  width: 100%;
  height: 100px; }
  .cnt header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    margin-bottom: 20px; }
    .cnt header label {
      visibility: hidden;
      background-color: #1A1A1A;
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: normal;
      height: 50px;
      border-radius: 15px;
      margin: 0 20px 0 20px;
      padding: 8px;
      width: 100%; }
      .cnt header label img {
        margin-right: 10px; }
      .cnt header label input {
        background-color: #1A1A1A;
        border-radius: 15px;
        border: 0;
        color: white;
        font-size: 16px;
        width: 100%;
        padding-left: 20px; }
    .cnt header .notification {
      visibility: hidden;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #1A1A1A;
      border-radius: 15px; }
    .cnt header .profile-offline, .cnt header .profile-online {
      width: 50px;
      height: 50px;
      border-radius: 15px;
      background: #1A1A1A;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      z-index: 11; }
      .cnt header .profile-offline img, .cnt header .profile-online img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .cnt header div {
      margin-right: 10px; }

main {
  width: 100%;
  padding-left: 20px; }
  main .podcast-img {
    height: 220px;
    border-radius: 15px;
    overflow: hidden; }
    main .podcast-img img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  main .control-row {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    width: 100%;
    height: 80px; }
    main .control-row div {
      margin: 10px; }
    main .control-row .filter {
      margin-left: auto;
      cursor: pointer;
      height: 100px;
      position: relative;
      z-index: 6; }
      main .control-row .filter:hover img {
        transform: rotate(180deg);
        transition: .5s; }
      main .control-row .filter:hover .filter-list {
        display: block;
        transition: 1s;
        position: relative;
        top: 0;
        opacity: 1; }
      main .control-row .filter p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: normal;
        padding: 10px 2px 10px 10px;
        background-color: #1A1A1A;
        border-radius: 15px;
        width: 120px; }
        main .control-row .filter p img {
          transition: .5s; }
        main .control-row .filter p span {
          margin-left: auto;
          margin-right: 4px;
          cursor: pointer; }
      main .control-row .filter ul {
        position: absolute;
        z-index: -1;
        opacity: 0;
        list-style-type: none;
        top: -22px;
        width: 120px;
        transition: .7s;
        background: #1A1A1A;
        border-radius: 15px;
        padding: 14px;
        line-height: 24px; }
        main .control-row .filter ul li {
          cursor: pointer; }
  main .track-area {
    overflow: scroll;
    scrollbar-width: none;
    height: calc(100vh - 524px); }
  main .track-area::-webkit-scrollbar {
    display: none; }
  main .track-stat {
    background-color: #0A0A0A;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 10px 350px 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 4px; }
  main .current-track-main {
    display: grid;
    grid-template-columns: 10px 350px 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    cursor: pointer; }
    main .current-track-main .track-number {
      color: rgba(255, 255, 255, 0.3); }
    main .current-track-main .track-main {
      display: flex;
      flex-direction: row;
      justify-content: normal;
      align-items: normal;
      width: 100%;
      margin-left: 20px; }
      main .current-track-main .track-main .main-cover {
        width: 45px;
        height: 45px;
        margin-right: 16px;
        border-radius: 15px; }
        main .current-track-main .track-main .main-cover img {
          object-fit: cover;
          width: 100%;
          height: 100%; }
      main .current-track-main .track-main .track-name-main {
        color: white; }
      main .current-track-main .track-main .artist-main {
        color: rgba(255, 255, 255, 0.3); }
      main .current-track-main .track-main .current-track-cover {
        width: 100%; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  margin-top: auto;
  height: 110px;
  background: #1A1A1A; }
  footer .track {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    width: 500px; }
  footer .current-cover {
    height: 100%;
    width: 110px; }
    footer .current-cover img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  footer .current-track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    margin-left: 20px;
    width: 200px;
    height: 100%; }
    footer .current-track p:first-child {
      margin: 0;
      font-size: 16px;
      color: white; }
    footer .current-track p:last-child {
      margin: 0;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3); }
  footer .track-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 314px;
    margin-right: 20px; }
  footer .track-control > div {
    margin-right: 10px;
    cursor: pointer; }
  footer .duration {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center; }
    footer .duration .gone-time {
      color: white;
      font-size: 16px;
      margin: 0 10px 0 20px;
      width: 90px; }
    footer .duration .duration-track {
      width: 510px;
      height: 8px;
      position: relative;
      background: grey;
      cursor: pointer; }
      footer .duration .duration-track .gone-track {
        position: absolute;
        height: 8px;
        width: 50%;
        background: white; }
      footer .duration .duration-track .left-track {
        position: absolute;
        right: 0;
        z-index: 1; }
    footer .duration .left-time {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
      margin: 0 20px 0 20px;
      width: 50px; }
  footer .volume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    flex-basis: 135px; }
    footer .volume .mute {
      cursor: pointer;
      width: 50px; }
    footer .volume .volume-wrapper {
      width: 100px;
      height: 8px;
      position: relative;
      margin-left: 10px;
      cursor: pointer; }
      footer .volume .volume-wrapper .volume-track {
        position: absolute;
        height: 8px;
        background: white;
        z-index: 4; }
      footer .volume .volume-wrapper .left-volume {
        width: 100%;
        height: 8px;
        position: absolute;
        right: 0;
        background: grey;
        z-index: 1; }

.mute {
  display: block !important; }

.registration_wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  opacity: 88%;
  background: -webkit-linear-gradient(44deg, #201e1e, #121111, #201d1f, #1a1919);
  background: linear-gradient(44deg, #201e1e, #121111, #201d1f, #1a1919); }
  .registration_wrapper form {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    background: linear-gradient(90deg, rgba(74, 74, 78, 0.9178046218) 0%, rgba(56, 56, 61, 0.8057598039) 46%, rgba(37, 38, 42, 0.7833508403) 64%);
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px 2px black; }
    .registration_wrapper form p:first-child {
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 24px; }
    .registration_wrapper form label {
      position: relative; }
      .registration_wrapper form label .file-input {
        position: absolute;
        width: 0;
        opacity: 0; }
      .registration_wrapper form label span {
        position: relative;
        cursor: pointer;
        background: #2a73f9;
        color: white;
        padding: 10px; }
    .registration_wrapper form .form_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 20px; }
      .registration_wrapper form .form_buttons button:first-child {
        margin-right: 30px;
        font-size: 1.2em; }
      .registration_wrapper form .form_buttons button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 30px;
        background-color: #0962E8;
        border-radius: 12px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        margin-right: 20px; }
    .registration_wrapper form .insert_field .top > input, .registration_wrapper form .insert_field .bottom > input {
      width: 210px;
      height: 30px;
      margin-bottom: 25px; }

.display {
  display: block; }

.bottomWrapper {
  display: flex;
  width: 100%; }
  .bottomWrapper label {
    height: 30px; }
  .bottomWrapper div {
    margin-left: auto;
    border: 2px solid orangered; }

.alert {
  display: none;
  padding: 4px;
  font-size: 14px; }

.auth_wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 88%;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  background: -webkit-linear-gradient(44deg, #201e1e, #121111, #201d1f, #1a1919);
  background: linear-gradient(44deg, #201e1e, #121111, #201d1f, #1a1919); }
  .auth_wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 450px;
    top: 50%;
    left: 50%;
    background: linear-gradient(90deg, rgba(74, 74, 78, 0.9178046218) 0%, rgba(56, 56, 61, 0.8057598039) 46%, rgba(37, 38, 42, 0.7833508403) 64%);
    height: 350px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px 2px black; }
    .auth_wrapper form .insert_field .top > input, .auth_wrapper form .insert_field .bottom > input {
      width: 210px;
      height: 30px;
      margin-bottom: 25px; }
    .auth_wrapper form p:first-child {
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: 24px; }
    .auth_wrapper form label {
      positiosn: relative; }
      .auth_wrapper form label .file-input {
        position: absolute;
        width: 0;
        opacity: 0; }
      .auth_wrapper form label span {
        position: relative;
        cursor: pointer;
        background: #2a73f9;
        color: white;
        padding: 10px; }
    .auth_wrapper form .form_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 20px; }
      .auth_wrapper form .form_buttons button:first-child {
        margin-right: 30px;
        font-size: 1.2em; }
      .auth_wrapper form .form_buttons button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 30px;
        background-color: #0962E8;
        border-radius: 12px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        margin-right: 20px; }

.exist, .success {
  margin-bottom: 5px;
  padding: 4px; }

.success_registration {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 300px;
  font-size: 20px; }

@media screen and (max-width: 500px) {
  .aside-left,
  .podcast-img,
  .share,
  .download,
  .listening-main,
  .is_play,
  .track-duration,
  .listening,
  footer .track-control > div:not(.main-pause),
  footer .duration,
  footer .volume {
    display: none; }

  .duration-main {
    padding: 0 10px 0 0; }

  main .track-stat {
    grid-template-columns: 12px 1fr 1fr 40px; }
  main .current-track-main {
    grid-template-columns: 12px 1fr auto 40px; }
  main .track-area {
    height: calc(100vh - 294px); }

  footer .track {
    cursor: pointer;
    transition: .3s; }
  footer .track-control {
    margin: 0;
    flex-basis: auto; }
  footer .main-pause {
    width: 40px;
    height: 40px; }
    footer .main-pause img {
      width: 100%; }

  .back-to-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: bormal;
    margin-top: 20px;
    width: 100%;
    color: rgba(92, 103, 222, 0.78); }
    .back-to-wrapper .back-to-list {
      margin: 20px 20px 0 auto;
      width: 50px;
      height: 50px; }
      .back-to-wrapper .back-to-list img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer; }

  .detail-track-view {
    height: 100vh;
    width: 100vw;
    position: absolute;
    flex-direction: column;
    transition: .3s;
    bottom: 0;
    z-index: 6;
    justify-content: normal; } }
.success {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px); }
  .success .success-position {
    position: relative; }
  .success .success-message {
    color: #d0d0d0;
    padding: 40px 60px 40px 40px;
    font-size: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 2px white; }
  .success .success-close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer; }
    .success .success-close-btn img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.profile-menu {
  height: 100vh;
  width: 500px;
  right: -513px;
  position: absolute;
  top: 0;
  z-index: 10;
  transition: .5s;
  background: #1A1A1A;
  padding: 0 0 0 20px;
  box-shadow: 2px 2px 13px 2px #ffffff; }

.profile-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 120px auto; }
  .profile-data h1 {
    grid-column: span 2;
    justify-self: center; }
  .profile-data div {
    font-size: 22px; }
  .profile-data .track-amount {
    grid-row: 3/4;
    grid-column: 1/2; }

.playlist-amount {
  white-space: nowrap; }

.edit-profile, .save-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: end;
  background: white;
  color: black;
  grid-column: span 2;
  padding: 20px;
  border-radius: 14px;
  font-size: 20px;
  cursor: pointer;
  justify-self: center;
  height: 60px; }

.save-profile {
  display: none; }

.profile-data--add-track-wrapper {
  position: relative;
  justify-self: center;
  grid-row: 3/4;
  grid-column: 2/3;
  width: 50px;
  height: 50px; }
  .profile-data--add-track-wrapper input {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0; }
  .profile-data--add-track-wrapper img {
    width: 100%;
    height: 100%; }

.exit-session {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #a4a0a0;
  padding: 10px;
  color: black;
  width: 100px; }

.confirm_wrapper {
  display: none;
  position: relative;
  z-index: 6; }

.confirm_delete_message {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 140px;
  padding: 10px 0;
  background: #1A1A1A;
  font-size: 18px; }
  .confirm_delete_message p, .confirm_delete_message a {
    text-decoration: none;
    cursor: pointer;
    color: white; }
  .confirm_delete_message::after {
    content: '';
    position: absolute;
    bottom: -15px;
    border-top: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent; }
  .confirm_delete_message::before {
    content: '';
    position: absolute;
    bottom: -14px;
    border-top: 14px solid #1A1A1A;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    z-index: 100; }

/*# sourceMappingURL=style.css.map */
